# Yard @param
snippet @p
	# @param ${1:name} [${2:type}] ${3:description}

# Yard @r
snippet @r
	# @return [${1:type}] ${2:description}

# Yard comment
snippet @y
	# ${1:description}
	#
	# @param ${2:name} [${3:type}] ${4:description}
	# @return [${5:type}] ${6:description}
